[Unit]
Description=Flatpak / NVIDIA Driver Version Check
After=graphical-session.target
Requires=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=%h/.local/scripts/nvidia_version_check.sh
Type=oneshot
RemainAfterExit=yes
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=graphical-session.target
